{% extends 'base.html' %}
{% load static %}
{% block title %} Home || {{ block.super }}{% endblock title %}

{% block content %}

    <div class="jumbotron-fluid " style="background: #29B6F6">
        <div class="container">
            <h1 class="text-center text-white">Engineering Stack</h1>
            <h4 class="text-center text-white mb-3">Learn, share and advance your professional career</h4>
            <hr>
        </div>
    </div>

    <section id="blog">
        <div class="container">
            {% if search %}
                {% else %}
                <h3>Featured Posts</h3>
                <hr>
            {% endif %}
            <div class="row no-gutters">
                {% for obj in object_list %}
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pr-md-2  pb-md-2 mb-3">
                        <div class="card">
                            <a href="{% url 'blog-detail' obj.slug %}">
                                {% if obj.image %}
                                    <img class="card-img-top img-fluid " src="{{ obj.image.url }}" alt="Card image cap" style="width: 360px; height: 180px !important;">
                                {% else %}
                                    <img class="card-img-top img-fluid " src="{% static 'img/blog.PNG' %}" alt="Card image cap" style="width: 360px; height: 180px !important;">
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <a href="{% url 'blog-detail' obj.slug %}" class="card-title card-link h5">
                                    {{ obj.title }}
                                </a>
                                <p class="card-text card_text_design">{{ obj.description|safe|truncatechars:100 }}</p>
                            </div>
                            <div class="card-footer bg-transparent border-success">
                                <a href="#" class="card-link">Read More..</a>
                                <small class="text-muted float-right">{{ obj.timestamp }}</small>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    {% if search %}
                        <div class="col my-5">
                            <h2 class="text-center text-black-50 mt-3">No result for {{ search }}</h2>
                            <h5 class="text-center text-muted">Try checking your spelling or use more general terms</h5>
                            <h3 class="text-center my-3">
                                <a href="{% url 'home' %}">Back to Blog list</a>
                            </h3>
                            <div style="margin-top: 160px"></div>
                        </div>
                    {% else %}
                        <div class="col my-5">
                            <h2 class="text-center text-black-50 mt-3 font-weight-bold mt-5">Remain with us for this upcoming topic</h2>
                            <h5 class="text-center text-muted">Try see your spelling or use more general terms</h5>
                            <h3 class="text-center my-3">
                                <a href="{% url 'home' %}">Back to Blog</a>
                            </h3>
                            <div style="margin-top: 160px"></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    <div class="float-right">
                        {% if object_list %}
                            {% include 'paginations/pagination.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}