<div  id="footer" >
    <div class="grid-container fluid" style="color:#bdc3c7 !important; background:#0c314e">
        <div class="text-center py-3">
            <div class="align-items-center mb-3 h5">
                <a class="footer-link text-white" href="#">About</a>
                <a class="footer-link text-white ml-3" href="#">Terms of Use</a>
                <a class="footer-link text-white ml-3" href="#">Cookies</a>
                <a class="footer-link text-white ml-3" href="#">Privacy Policy</a>
                <a class="footer-link text-white ml-3" href="#">Sitemap</a>
            </div>
            <div class="text-sm text-white mt-2">
                <span class="opacity-60">© Blog  All Rights Reserved.</span>
            </div>
        </div>
    </div>
</div>


</footer>
