
<div class="header sticky-top" id="myHeader" style="background: #2C3E50; color: white !important;">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand" href="{% url 'home' %}"><i class="fa fa-home"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link font-weight-bold text-white">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'category' 'html' %}" class="nav-link font-weight-bold text-white">Html</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'category' 'css' %}" class="nav-link font-weight-bold text-white">Css</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'category' 'bootstrap' %}" class="nav-link font-weight-bold text-white">Bootstrap</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'category' 'javascript' %}" class="nav-link font-weight-bold text-white">Javascripts</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'category' 'python' %}" class="nav-link font-weight-bold text-white">Python</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'category' 'django' %}" class="nav-link font-weight-bold text-white">Django</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link font-weight-bold text-white">Contact</a>
                </li>
            </ul>
            <form method='GET'>
                <div class="input-group">
                    <input type="text" class="form-control" name="q" id="search_input"  value="{{ request.GET.q }}"  placeholder="Search here">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a  class="nav-link" href="#">Sign in</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link">|</span>
                </li>
                <li class="nav-item ml-1">
                    <a  class="nav-link" href="#" >Join now</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

