{% extends 'base.html' %}
{% block title %} Contact || {{ block.super }} {% endblock title %}

{% block content %}

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div class="card">
                    <h4 class="card-header text-center font-weight-bold">Contact Us</h4>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

{% endblock content %}